.idea/
tsharding-client/.classpath
tsharding-client/.project
tsharding-client/.settings/
tsharding-cache/.classpath
tsharding-cache/.idea/
tsharding-cache/.project
tsharding-cache/.settings/
tsharding-client/.idea/
tsharding-client/target/*
tsharding-client/tsharding-client.iml
tsharding-client/target/*
tsharding-cache/target/*
tsharding-client-springboot/target/*
.DS_Store
tsharding-client-springboot/.DS_Store
tsharding-client-springboot/.classpath
tsharding-client-springboot/.idea/
tsharding-client-springboot/.project
tsharding-client-springboot/.settings/
tsharding-client/src/test/resources/log4j2.xml
tsharding-spring-boot/.DS_Store
tsharding-spring-boot/.classpath
tsharding-spring-boot/.idea/
tsharding-spring-boot/.project
tsharding-spring-boot/.settings/
tsharding-spring-boot/target/
tsharding-cache/target/
